<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="api_key" value="" />
		<add key="from_name" value="John Doe" />
		<add key="from_company" value="Microsoft Corp." />
		<add key="from_phone" value="5555555555" />
		<add key="from_email" value="john@doe.com" />
		<add key="from_street_1" value="123 Main St" />
		<add key="from_street_2" value="" />
		<add key="from_city" value="Los Alamos" />
		<add key="from_state" value="CA" />
		<add key="from_zip" value="93440" />
		<add key="from_country" value="US" />
		<add key="to_name" value="Fake Name" />
		<add key="to_company" value="Fake Co." />
		<add key="to_phone" value="" />
		<add key="to_email" value="" />
		<add key="to_street_1" value="7200 Sesame St" />
		<add key="to_street_2" value="" />
		<add key="to_city" value="Columbus" />
		<add key="to_state" value="GA" />
		<add key="to_zip" value="31909" />
		<add key="to_country" value="US" />
		<add key="length" value="11.49" />
		<add key="width" value="6.1" />
		<add key="heigth" value="0.24" />
		<add key="weight" value="0.99" />
		<add key="predefined_package" value="Letter" />
		<add key="carrier" value="USPS" />
		<add key="service" value="First" />
		<add key="machinable" value="True" />
		<add key="label_size" value="7x3" />
	</appSettings>
</configuration>